@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');
.attribution { font-size: 11px; text-align: center;   padding: 180px 0;

   }
.attribution a { color: hsl(228, 45%, 44%); }

*{
    box-sizing: border-box;
}
body{
    background: radial-gradient(circle at 50% 0% , hsl(214, 47%, 23%) , hsl(237, 49%, 15%) );
    font-family: 'Barlow Semi Condensed' , sans-serif;
    min-height: 100vh;
    color: white;
    margin: 0;
}
.container{
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
}
header{
    border: 3px solid  hsl(217, 16%, 45%);
    display: flex;
    border-radius: 20px;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    margin: 30px 0 50px;
}   
h1{
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    line-height: 0.8;
    margin: 0;
    text-transform: uppercase;
}
.score-container {
    background-color: white;
    border-radius: 10px ;

    padding: 10px 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    
}
h4{
    color: hsl(229, 64%, 46%);
    margin: 0;
}
.score-container p{
    color: hsl(229, 25%, 31%);
    font-size: 3rem;
    margin: 0;
    font-weight: 700;
}
.btn-rules{
    color: white;
    font-size: inherit;
    border: 2px solid white;
    border-radius: 10px;
    background-color: transparent;
    text-transform: uppercase;
    padding: 10px 25px;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 600;
    position: fixed;
    bottom: 30px ;
    right: 30px;
    cursor: pointer;

}
.btn-circle{
    border: none;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    box-shadow: inset 0 -8px rgba(0, 0, 0, 0.2);
    margin: 0 25px;
    cursor: pointer;
}
.btn-circle-paper{
   background: linear-gradient(to bottom ,hsl(230, 89%, 62%) , hsl(230, 89%, 65%));
    
}
.btn-circle-scissors{
   background: linear-gradient(to bottom , hsl(39, 89%, 49%) , hsl(40, 84%, 53%));
    
}
.btn-circle-rock{
    background: linear-gradient(to bottom , hsl(349, 71%, 52%) , hsl(349, 70%, 56%));
    
}
.btn-circle .wrapper {
    background-color: white;
    box-shadow: inset 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    height: 120px;
    width: 120px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
main {
    display: flex;
    flex-wrap: wrap;
    height: 350px;
    width: 400px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
}
main::before{
    background-image: url('./images/bg-triangle.svg');
    content: '';
    height: 70%;
    width: 70%;
    position: absolute;
    top: 20%;
    left: 15%;
    background-repeat: no-repeat ;
    background-size: cover  ;
    z-index: -1;

}
.btn {
    color: hsl(229, 25%, 31%);
    font-size: inherit;
    border: 2px solid white;
    border-radius: 10px;
    background-color: white;
    padding: 10px 20px;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}
.selection {
    display: none;
    justify-content: center  ;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
}
.selection .btn-circle {
    margin: 50px 100px ;
    transform: scale(1.4);
}
.selection h2 {
    padding: 30px 0  ;
    letter-spacing: 2px;
    text-transform: uppercase;

}
.big-text{
    font-size: 3rem;
    line-height: 0.8;
    margin: 0 0 20px;
    text-transform: uppercase;

}
.button:focus {
    outline: none;
}
.btn-circle:active {
    transform: scale(0.9);

}
.rule-modal {
    background-color: #f0f0f0;
    display: none;    
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}
.rule-modal button {
    border: none;
    transform: scale(1.5);
    margin-top: 40px;
    background-color: transparent;
    cursor: pointer;
}
@media (max-width : 900px  ){
    .selection .btn-circle {
        margin: 50px 20px ;
        transform: scale(1);
    }
    .go-down{
        order: 1;
    }
    .selection {
        width: 500px;
    }
}
